:root{
  --white: #EAEAEA;
  --gray-900: #101010;
 }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  background: var(--white);
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}