@import './css/global.css';
@import './css/menu.css';

.container-header{
  background-image: url("./assets/white-and-blue-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
}

.container-header h1{
  font-size: 6rem;
  font-weight: bold;
  color:#7497CC;  
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 7.5rem 1fr 7.5rem;
}

.first-text{
  grid-column: 2/3;
  margin-top: 3.75rem;
  line-height: 1.4;
}

.divider{
  height: 7px;
  grid-column: 2/3;
  background-color: #7497CC;
  margin-top: 2.5rem;
}

.second-text{
  grid-column: 2/3;
  display: flex;
  margin-top: 6.25rem;
  gap: 3.75rem;
  flex-direction: column;
  margin-bottom: 8.125rem;
}

.second-text h2{
  position: relative;
  margin-left: 1rem;
}

.title-container{
  display: flex;
}

.title-container .detail{

  width:0.625rem;
  height: 2.5rem;
  background: #7497CC;
}
/* .second-text h2::before{
  content: "";
  background: #7497CC;
  width:0.625rem;
  height: 2.5rem;
  position: absolute;
  left: -1.5rem;
} */


.second-text-content{
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
}

.second-text-content p {
  float: left;
  width: 37.5rem;
}

.second-text-image {
  width: 26.875rem;
  height: 26.875rem;
  float: right;
}

.image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer{
  background-image: url("./assets/white-and-blue-background.jpg");
  height: 50vh;
  grid-column: 1/4;
  background-size: cover;
  background-position: center right;
}


@media(max-width:1000px){
  html {
    font-size: 60%;
  }

  footer, .container-header {
    height: 35vh;
  }
}

